@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
}
body {
  margin: 0;
}
html.dark {
  /* background-color: #1e293b; */
  background-color: #334155;
}
